<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span></li><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span><ul class="toc-item"><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-2.1.0.1"><span class="toc-item-num">2.1.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-2.1.0.2"><span class="toc-item-num">2.1.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-2.1.0.3"><span class="toc-item-num">2.1.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("../../DIC19-Kristina-lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# your code here

#How to aggregate the amount_spent for unique customers?

agg_spent = orders.groupby('CustomerID')['amount_spent'].sum()
agg_spent

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [5]:
#How to select customers whose aggregated amount_spent is in a given quantile range?

#VIP Customers whose aggregated expenses global are above the 95th percentile (aka. 0.95 quantile). 
#Preferred Customers whose aggregated expenses are between the 75th and 95th percentile.

#find values of 95% and 75% percentile in the aggregated spent

p95 = np.quantile(agg_spent, 0.95)
p75 = np.quantile(agg_spent, 0.75)

print(f'95% is {p95}, 75% is {p75}')

#converting series to df
agg_spent_df = pd.DataFrame(agg_spent)

#adding customer ID column to not have it deleted when change the index to normal

agg_spent_df['CustomerID'] = agg_spent_df.index
agg_spent_df.index = range(len(agg_spent))
agg_spent_df.head()

#filtering customers
vip = agg_spent_df.loc[agg_spent_df.amount_spent > p95, 'CustomerID']
vip.head()

preffered = agg_spent_df.loc[(agg_spent_df.amount_spent < p95) & (agg_spent_df.amount_spent > p75), 'CustomerID']
preffered.head()

95% is 5840.181999999983, 75% is 1661.6400000000003

   amount_spent  CustomerID
0      77183.60       12346
1       4310.00       12347
2       1797.24       12348
3       1757.55       12349
4        334.40       12350

0     12346
10    12357
12    12359
50    12409
55    12415
Name: CustomerID, dtype: int64

1    12347
2    12348
3    12349
5    12352
9    12356
Name: CustomerID, dtype: int64

In [6]:
#How to label selected customers as "VIP" or "Preferred"?

agg_spent_df['status'] = agg_spent_df['amount_spent'].apply(lambda x: 'vip' if x > p95 else ('preffered' if (x < p95) & (x > p75) else 'not interesting'))

agg_spent_df.head()

   amount_spent  CustomerID           status
0      77183.60       12346              vip
1       4310.00       12347        preffered
2       1797.24       12348        preffered
3       1757.55       12349        preffered
4        334.40       12350  not interesting

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [7]:
# your code here

#which country has the most VIP Customers

#selecting neccesary columns to do the grouping

df = orders[['CustomerID', 'amount_spent', 'Country']]

#grouping by customer id and country to have unique values

agg_df = orders.groupby(['CustomerID', 'Country'])['amount_spent'].sum()
agg_df = agg_df.reset_index()

#setting the labels

agg_df['status'] = agg_df['amount_spent'].apply(lambda x: 'vip' if x > p95 else ('preffered' if (x < p95) & (x > p75) else 'not interesting'))

#selecting only vip users

agg_df_vip = agg_df.loc[agg_df.status == 'vip']

#grouping by country and counting values

agg_df_vip.groupby('Country')['status'].count().sort_values(ascending=False)

#UK has the most vip customers

Country
United Kingdom     177
Germany             10
France               9
Switzerland          3
EIRE                 2
Japan                2
Portugal             2
Spain                2
Norway               1
Netherlands          1
Singapore            1
Finland              1
Sweden               1
Denmark              1
Cyprus               1
Channel Islands      1
Australia            1
Name: status, dtype: int64

In [8]:
#How to identify which country has the most VIP+Preferred Customers combined?

#selecting only vip and preffered users

agg_df_vip_pref = agg_df.loc[(agg_df.status == 'vip') | (agg_df.status == 'preffered')]

#grouping by country and counting values

agg_df_vip_pref.groupby('Country')['status'].count().sort_values(ascending=False)

#UK has the most vip and preffered customers

Country
United Kingdom     932
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: status, dtype: int64